
<div class="picsum-img-wrapper">
    <!-- <img [src]="images[2]" alt="Random third slide"> -->
    <div class="scroll">
      <div class="bod" #scrollMe >
          <div *ngFor="let item of tables; let i = index">
                  <div class="point" >
                      <div class="titre">{{ item.titre }}</div>
                      <div class="heure">{{ item.heure }}</div>
                      <div class="date">{{ item.date }}</div>
                  </div>
              <hr class="verticalAlign"  width="1" >
            </div>
        </div>
    </div>
</div>