
<div class="picsum-img-wrapper">
    <!-- <img [src]="images[2]" alt="Random third slide"> -->
    <div class="scroll">
        
        <!-- <ngx-spinner
            bdColor="rgba(51,51,51,0.8)"
            size="medium"
            color="#fff"
            type="ball-scale-multiple"
            >
            <p style="font-size: 20px; color: white">Loading...</p>
        </ngx-spinner> -->

        <ngx-spinner
            bdColor="rgba(0, 0, 0, 1)"
            template="<img src='https://media.giphy.com/media/o8igknyuKs6aY/giphy.gif' />"
            >
            </ngx-spinner>

        <div class="bod" #scrollMe >
            <div *ngFor="let item of tables; let i = index">

                <div class="rouge" *ngIf="item.status === true">

                    <div class="picsum-img-wrapper">
                        <ng-template #popContent class="pop">
                        <input type="text" class="form-control" size="10%" [(ngModel)]=item.data/>
                        <button type="button" class="btn btn-outline-danger bout" (click)="cancelUpdate(p, i)">
                            Annuler
                        </button>
                        <button type="button" class="btn btn-outline-success bout2" (click)="updatePoint(item.data, i,p)" >Valider</button>
                        </ng-template>
                        <ng-template #popTitle> Modifier le  point en rouge </ng-template>
                    </div>
                    
                    <div class="pointRouge"   
                    [ngbPopover]="popContent"
                        [autoClose]="false"
                        triggers="manual"
                        #p="ngbPopover"
                        placement="right"
                        (click)="openUpdate(item.data, p)"
                        [popoverTitle]="popTitle"
                        >
                        <div class="titre">{{ item.data }}</div>
                        <div class="heure">{{ item.date_publication }}</div>
                        <div class="date">{{ item.date_publication }}</div>
                    </div>
                    <hr class="verticalAlign"  width="1" >
                </div>

                <div *ngIf="item.status === false">

                    <div class="picsum-img-wrapper">
                        <ng-template #popContent class="pop">
                        <input type="text" class="form-control" size="10%" [(ngModel)]=item.data/>
                        <button type="button" class="btn btn-outline-danger bout" (click)="cancelUpdate(pr, i)">
                            Annuler
                        </button>
                        <button type="button" class="btn btn-outline-success bout2" (click)="updatePoint(item.data, i,pr)" >Valider</button>
                        </ng-template>
                        <ng-template #popTitle> Modifier le  point en vert v</ng-template>
                    </div>

                    <div class="point"   
                    [ngbPopover]="popContent"
                    [autoClose]="false"
                    triggers="manual"
                    #pr="ngbPopover"
                    placement="right"
                    (click)="openUpdate(item.data, pr)"
                    [popoverTitle]="popTitle"
                    >
                    🍔
                        <div class="titre">{{ item.data }}</div>
                        <div class="heure">{{ item.date_publication }}</div>
                        <div class="date">{{ item.date_publication }}</div>
                    </div>
                    <hr class="verticalAlign"  width="1" >
                </div>


            </div>

















            <div *ngIf="isClicked">
                <div class="point1" *ngIf="tables.length === 0">
                    <div class="titre">{{ inputValue }}</div>
                    <div class="heure">--:--:--</div>
                    <div class="date">-- - -- - ----</div>
                </div>
                <hr class="verticalAlign"  width="1" >
            </div>
            
        </div>

        <div class="picsum-img-wrapper">
            <div class="form">
              <ng-template #popContent class="pop">
                  <input type="text" class="form-control" size="10%" [(ngModel)]="inputValue"/>
                  <button type="button" class="btn btn-outline-danger bout" (click)="removePoint(p)">
                    Annuler
                  </button>
                  <button type="button" class="btn btn-outline-success bout2" (click)="validPoint(p)" >Valider</button>
                </ng-template>
                <ng-template #popTitle> Ajouter un nouveau point </ng-template>
                
                
                <div style="text-align:center">
                      <button
                      type="button"
                      class="btn btn-outline-success"
                      [ngbPopover]="popContent"
                      [autoClose]="false"
                      triggers="manual"
                      #p="ngbPopover"
                      placement="right"
                      (click)="p.open()"
                      (click)="addPoint()"
                      [popoverTitle]="popTitle"
                      >
                      +
                      </button>
                  </div>  
            </div>
        </div>

    </div>
</div>

        
